@media only screen and (min-width: 1430px) {
    .container {
        max-width: 1290px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}

@media only screen and (min-width: 1800px) {
    .container {
        max-width: 1630px;
    }
}


@media only screen and (max-width: 1599px) {}

@media only screen and (max-width: 1429px) {
    .container {
        max-width: 1290px;
    }
}

@media only screen and (max-width: 1340px) {
    form {
        padding: 1.5rem;
    }

    .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1280px) {
    .send-inner {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    p.content-para {
        max-width: fit-content;
    }

    .message,
    .example {
        max-width: 44rem;
        width: 100%;
    }

    .container {
        max-width: 100%;
        margin: 0 2rem;
    }

    section.send {
        background-position: left;
    }
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    h1.head {
        font-size: 3rem
    }

    a.footer-lin,
    p.copy {
        font-size: 1rem
    }

    footer {
        padding: 3rem 0
    }

    .footer-inner {
        gap: 3rem
    }

    .footer-links {
        gap: 1rem
    }
}

@media only screen and (max-width: 767px) {
    section.hero {
        height: calc(100vh - 30vh)
    }

    img.hero-line {
        max-width: 550px;
        width: 100%
    }

    .send-title img {
        max-width: 300px;
        width: 100%
    }
}

@media only screen and (max-width: 611px) {

    h1.head,
    h2.send-head {
        font-size: 2rem
    }

    h3.send-message,
    label {
        font-size: 1rem
    }
}

@media only screen and (max-width: 575px) {
    .footer-links {
        flex-wrap: wrap
    }

    h1.head,
    h2.send-head {
        font-size: 1.5rem
    }

    span.seprate {
        display: none
    }

    .container {
        margin: 0 1rem
    }

    .send-title {
        padding-bottom: 3rem
    }
}

@media only screen and (max-width: 479px) {
    img.logo {
        width: 100%;
        max-width: 270px;
    }
}

@media only screen and (max-width: 349px) {}