.footer-inner,
.form-control,
.send-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal
}

header,
section.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.content-inner,
.send-title img {
  display: -webkit-box;
  display: -ms-flexbox
}

h1.head,
h2.send-head,
p.hero-para {
  text-align: center;
  font-style: normal;
  line-height: normal
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box
}

:root {
  --theme-bg: #1e1e1e
}

:is(h1, h2, h3, h4, h5, h6, p, span, ul, li) {
  margin: 0;
  padding: 0
}

.container,
.logo,
h1.head,
p.hero-para {
  margin: auto
}

:is(input, textarea, select):hover {
  border: 1px solid #fff
}

:is(input, textarea, select):focus-visible {
  outline: #fff solid 1px
}

body {
  margin: 0
}

header {
  position: absolute;
  padding: 2.94rem 1rem
}

.container {
  max-width: 89.25rem
}

section.hero {
  background: url("../image/hero-bg.svg") center/cover no-repeat #000;
  height: calc(100vh - 25vh);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.title {
  text-align: center
}

h1.head {
  color: var(--Primary-White, #fff);
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 4.75rem;
  font-weight: 700;
  letter-spacing: .095rem;
  text-transform: uppercase;
  padding-bottom: .66rem;
  max-width: 53.75rem
}

p.hero-para {
  color: var(--Shade-04, #c6cec3);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .02rem;
  padding-top: 1.5rem;
  max-width: 39rem
}

h2.send-head,
h3.send-message {
  color: var(--Primary-White, #fff);
  text-transform: uppercase
}

h2.send-head,
h3.send-message,
label {
  font-family: "Neue Haas Grotesk Display Pro"
}

.form-tag,
a.footer-lin,
button,
h3.content-h3,
p.content-para,
p.copy,
p.form-error,
p.form-validation {
  font-family: Poppins;
  font-style: normal
}

button,
h2.send-head,
h3.send-message,
label {
  font-weight: 600
}

footer {
  background-color: #000;
  padding: 5rem 0
}

section.send {
  background: var(--theme-bg) url("../image/send-bg.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 80px 0
}

h2.send-head {
  font-size: 2.625rem;
  letter-spacing: .0525rem;
  padding-bottom: .91rem
}

h3.send-message {
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: .03rem
}

h3.content-h3,
label {
  color: var(--Primary-White, #fff);
  font-size: 1.25rem;
  line-height: normal
}

.send-title {
  padding-bottom: 4.16rem
}

.send-title img {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.send-inner {
  gap: 3.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.75rem 1fr;
  grid-template-columns: repeat(2, 1fr)
}

.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem
}

.form-tag,
.send-content,
button {
  display: -webkit-box;
  display: -ms-flexbox
}

.send-content {
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 1.5rem
}

h3.content-h3 {
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: .3rem
}

p.content-para {
  color: var(--Shade-04, #c6cec3);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  max-width: 36.5rem
}

p.form-error,
p.form-validation {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -.00875rem
}

form {
  padding: 2.625rem;
  border-radius: 1.875rem;
  border: 1px solid rgba(255, 255, 255, .1);
  background: rgba(255, 255, 255, .05);
  margin-top: 1.5rem
}

label {
  font-style: normal
}

.form-tag,
button {
  width: 100%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.form-control,
.input-main {
  display: -webkit-box;
  display: -ms-flexbox
}

.input-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 1rem
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 2.88rem
}

.footer-inner,
.input-icon,
p.form-error {
  display: -webkit-box;
  display: -ms-flexbox
}

.form-tag {
  padding: .875rem .75rem;
  border-radius: 3.875rem;
  border: 1px solid rgba(255, 255, 255, .27);
  background: #2a2a2a;
  color: var(--Shade-05, #a1a89e);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -.01rem
}

button {
  height: 3.25rem;
  padding: 1rem .625rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2.625rem;
  background: var(--Primary-White, #fff);
  border: none;
  color: var(--Primary-Black, #060f02);
  line-height: normal;
  margin-top: 2.6rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer
}

button:hover {
  background: #000;
  color: #fff
}

.input-icon {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: .75rem
}

input.form-tag.form-tag-px {
  padding-left: 2.75rem
}

textarea#textarea {
  border-radius: 1.25rem;
  height: 7rem
}

p.form-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--Shade-02, #e7eee4);
  margin-top: .65rem;
  gap: .5rem
}

p.form-validation {
  color: var(--Shade-04, #c6cec3);
  margin-top: .5rem
}

a.footer-lin,
p.copy {
  color: var(--Primary-White, #fff);
  text-align: center;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 4.47rem
}

img.avatar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem
}

p.copy {
  font-size: 1.125rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #596057
}

a.footer-lin {
  font-size: 1.5rem
}

span.seprate {
  width: .0625rem;
  background: var(--Shade-07, #596057);
  height: 2.25rem
}